<aside class="sidebar">
    <div class="brand">
        <h2>VIDALAB</h2>
        <span>Sistema de caja y facturacion</span>
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a class="nav-link active" onclick="showSection('dashboard', this)">
                <i class="fas fa-th-large"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" onclick="showSection('inventario', this)">
                <i class="fas fa-box"></i> Planilla Diaria
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="showSection('clientes', this)">
                <i class="fas fa-users"></i> Clientes
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" onclick="showSection('usuarios', this)">
                <i class="fas fa-user-shield"></i> Usuarios
            </a>
        </li>
    </ul>
</aside>